/* Custom Font */
@font-face {
  font-family: Hacked;
  src: url(https://hackedfont.com/HACKED.ttf);
}

.title h1{
  font-family: Hacked;
  text-align: center;
  text-decoration: underline;
  margin: 1em;
  border: 0;
}
.title p{
  text-align: center;
}

body {
  background-color: black;
  background-image: url("media/eye.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #c1fbee;
  font-family: Verdana;
}

.main {
  background-color: #2e222f;
  width: 700px;
  margin: 1em auto;
  padding: 2em;
  border: 8px outset #30e1b9;
}
