/* Custom Font */
@font-face {
  font-family: Hacked;
  src: url(https://hackedfont.com/HACKED.ttf);
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #30e1b9;
  color: #ffffff;
  font-family: Verdana;
}

.matrix {
  position: fixed;
  z-index: -1;
}

.content {
  padding: 1em;
  padding-top: 3em;
}

.title h1 {
  font-family: Hacked;
  text-align: center;
  text-decoration: underline;
  margin: 0em;
  border: 0;
}

.title p {
  text-align: center;
}

.main {
  background-color: #2e222f;
  width: auto;
  margin: 1em;
  padding: 2em;
  border: 8px outset #30e1b9;
}